<h3>あなたのトークンは <b><%= @token %></b> です。</h3>

設定例:

<div class="well">https://weightodon.herokuapp.com/remotes?token=<%=@token%></div>

<ul>
  <li>トークンは大切に保持してください。</li>
  <li>データベースには保存されません。忘れた場合は、再発行をしてください。</li>
</ul>

<%= link_to '了解', root_path, class: 'btn btn-default' %>
