@import "materialize";
header {
  z-index: 9999;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#fp-nav ul li a span {
  background: #fff !important;
}

.part1 {
  background-image: image-url("christopher-campbell-40367-unsplash.jpg");
  background-size: cover;
}
.part2 {
  background-image: image-url("beginning-blank-blank-page-45718.jpg");
  background-size: cover;
}
.part3 {
  background-image: image-url("approve-black-and-white-hand-8252.jpg");
  background-size: cover;
}
.part4 {
  background-image: image-url("pexels-photo-1068523.jpg");
  background-size: cover;
}
.part5 {
  background-image: image-url("asphalt-clouds-fields-56832.jpg");
  background-size: cover;
}

