@import "materialize";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.part1 {
  background-image: url(christopher-campbell-40367-unsplash.jpg);
  background-size: cover;
}
.part2 {
  background-image: url(approve-black-and-white-hand-8252.jpg);
  background-size: cover;
}
.part3 {
  background-image: url(beginning-blank-blank-page-45718.jpg);
  background-size: cover;
}
.part4 {
  background-image: url(achievement-adult-agreement-1153213.jpg);
  background-size: cover;
}
.part5 {
  background-image: url(asphalt-clouds-fields-56832.jpg);
  background-size: cover;
}
