<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">WeightoDon</h5>
        <p class="grey-text text-lighten-4">WeightoDonは、ダイエットを目指す仲間たちを全力で応援します。</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Link</h5>
        <ul>
          <li><a class="white-text" href="#!">ホーム</a></li>
          <li><a class="white-text" href="#!">オンラインヘルプ</a></li>
          <li><a class="white-text" href="#!">マストドン</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="#!">Github Issues</a></li>
          <li><a class="white-text" href="#!">Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2018 WeightoDon. All Rights Reserved.
    </div>
  </div>
</footer>
