<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">WeightoDon</h5>
        <p class="grey-text text-lighten-4">WeightoDonは、ダイエットを目指す仲間たちを全力で応援します。</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Link</h5>
        <ul>
          <li><a class="white-text" href="/">ホーム</a></li>
          <li><a class="white-text" href="https://github.com/tsu-nera/weightodon/wiki">使い方</a></li>
          <li><a class="white-text" href="https://weightodon.site">マストドン</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Support</h5>
        <ul>
          <li><a class="white-text" href="https://twitter.com/tsu_nera_s" target="_blank">Twitter</a></li>
          <li><a class="white-text" href="https://github.com/tsu-nera/weightodon" target="_blank">GitHub</a></li>
          <li><a class="white-text" href="https://github.com/tsu-nera/weightodon/issues" target="_blank">不具合報告</a></li>
          <li><a class="white-text" href="https://github.com/tsu-nera/weightodon/projects/1" target="_blank">ロードマップ</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2018 WeightoDon. All Rights Reserved.
    </div>
  </div>
</footer>
